/*.aptos
/build
/sarisend
/node_modules
/db
/*.csv



/*.mv
*.mv
*.mvsm

/backend/build/

# Ignore all Move build artifacts
/backend/build/
*.mv
*.mvsm
*.move
*.csv
notes.txt

# Ignore build folder
/backend/build/

# Ignore database, notes, and config
db/database.csv
notes.txt
Move.toml

# Ignore build output
/backend/build/

# Ignore local database, notes, and config
/db/
notes.txt
Move.toml
